mixin song(songData)
    div.song
        span.song__index ##{songData.index}
        img(src=songData.cover, width="35", height="35") 
        div.song__info
            span=songData.title
            span=songData.artist