include ../mixins/song

div.chart-grid
    div.chart-ct
        div.chart-title
            span 🔥 Trending Music (Melon) 🔥
            span.chart-title__time Updated at #{time.getMonth() + 1}.#{time.getDate()} #{String(time.getHours()).padStart(2, '0')}:00
        div.chart-songs
            each song in melonChart
                +song(song)
            else 
                li Chart Not Available